@import "../../AppModule"
.SideMenu
    @extend %FullExtend,
    border-right: 1px solid $DeviderColor

#ContentContainer
    @extend %FullExtend,
    display: grid
    grid-template-columns: 1fr 11fr

#Header
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid $DeviderColor
    padding: 0px 10px 0px 10px
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    background-color: #ff8800ef

#Content
    background-color: #0c0c0c8f
