@import "../../AppModule"

.SideMenu
    @extend %FullExtend,
    border-right: 1px solid #33333342

#ContentContainer
    @extend %FullExtend,
    display: grid
    grid-template-columns: 1fr 7fr

#Header
    @extend %FullExtend,
    border-bottom: 1px solid #33333342
